.currency {
  width: 100%;
  min-height: 110px;
  background-color: rgb(196, 255, 198);
  border-radius: 4px;
  margin-bottom: 10px;
  padding-left: 15px;
  box-sizing: border-box;
}
.today {
  padding-left: 10px;
}
.currency-values {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  align-items: center;
}
.select-currency {
  width: 70px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.currency-value {
  margin-left: 20px;
  font-size: 30px;
}
.currency-date {
  padding-left: 10px;
  font-size: 14px;
}
.currency-error {
  padding-left: 10px;
}
