.select {
  width: 100%;
  min-height: 20px;
  position: relative;
  border-radius: 4px;
}
.selected-option {
  padding: 10px;
  padding-bottom: 0px;
}
.selected-option:hover {
  cursor: pointer;
}
.options {
  width: 150px;
  position: absolute;
  top: 40px;
  z-index: 1;
}
.option {
  padding-left: 10px;
  background-color: rgb(255, 255, 255);
  width: calc(100%-10px);
  height: 20px;
  padding-top: 1px;
  padding-bottom: 2px;
}
.option:hover {
  background-color: rgb(234, 238, 241);
  cursor: pointer;
}
