.note-area {
  box-sizing: border-box;
  width: 100%;
  min-height: 110px;
  height: auto;
  border: 0px;
  padding: 0px;
  font-size: 16px;
  margin-bottom: 5px;
  padding: 5px;
  overflow: auto;
  resize: none;
  background: #fffae8;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 4px;
}
.note-area:active {
  outline: 0px;
}
.note-area:focus {
  outline: 0px;
}
.note-area::-webkit-scrollbar {
  width: 5px;
}

.note-area::-webkit-scrollbar-track {
  background: #e1d8bb;
}

.note-area::-webkit-scrollbar-thumb {
  background-color: #a49460;
  border-radius: 5px;
}
