.weather {
  width: 100%;
  min-height: 110px;
  background-color: rgb(223, 240, 255);
  border-radius: 4px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  transition: background-image 1s ease-in-out;
}
.cloud {
  background-image: url('img/облачно.png');
}
.rain {
  background-image: url('img/дождь.png');
}
.sun {
  background-image: url('img/ясно.png');
}
.snow {
  background-image: url('img/снег.png');
}
.no-background {
  background-image: none;
}
.select-weather {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
img {
  padding-top: 10px;
  padding-left: 10px;
}
.weather-now {
  height: 45px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.degree {
  padding-left: 10px;
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(19, 47, 75);
}
.degree span {
  font-size: 30px;
}
.weather-description {
  height: 31px;
  padding-left: 10px;
}
.update-weather {
  border: 0;
  background-color: rgba(240, 248, 255, 0);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.update-weather:hover {
  cursor: pointer;
}
.update-weather img {
  padding-top: 17px;
}
